.checkout-page {
  width: 50%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 2rem;
  border-bottom: 1px solid darkgrey;

  .checkout-header {
    width: 100%;
    padding: 1.2rem 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;

    .header-block {
      text-transform: capitalize;
      width: 23%;

      &:last-child {
        width: 6%;
      }
    }
  }

  .payment {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .total {
      margin-top: 30px;
      margin: 2rem auto;
      font-size: 36px;
    }
    .clear {
      font-family: 'Open Sans Condensed';
      margin: 2rem auto;
      font-size: 20px;
      width: 100%;
      color: #126dd6;
    }
  }
}

.StripeCheckout {
  background: #a80435 !important;
  &:focus {
    outline: none !important;
  }
  span {
    font-family: 'Open Sans Condensed' !important;
    font-size: 23px !important;
    height: 50px !important;
    line-height: 2 !important;
    padding: 0 !important;
    background-image: none !important;
  }
}
